.grid{
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  height: 50px;
  align-items: center;
  background-color: rgba(0,0,0,.8);
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  color: white;

}

.logo{
    margin-left: .5rem;
  }

.links{
  display: flex;
  flex-direction: row;
  align-items: center;

}

.link{
  margin-right: 2rem;
  transition: all 0.4s ease;
  
}



.link:hover{
  color: rgb(186, 140, 233);
  
}

.mobile_links{
  display: flex;
  flex-direction: row;
  
}

.menu_icon{
  display: none;
  
}




@media screen and (max-width:1200px) {
  .grid{
    justify-content: space-between;
  }
  .logo{
    margin-left: 1rem;
  }
  
}

@media screen and (max-width:1000px) {
  .link{
    font-size: 1rem;
  }

}

@media screen and (max-width:750px) {

  .mobile_links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top:50px;
    position: absolute;
    width: 100%;
    min-height: 400px;
background-color: rgba(0,0,0,.8); 
    z-index: 10;
    animation: link .5s ease;
  }

  .mobile_links>.link{
    font-size: xx-large;
    margin-bottom: 2rem;
  }

 
  .menu_icon{
    display: block;
    margin-right: 1rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
    
  }

  .menu_icon:hover{
    transform: scaleX(1.1);
    
  }

  .links{
    display: none;
  }
  

}

@keyframes link {
    0%{
      transform: translateX(-50%);
    }

}
